/* Hero */

#hero.page-section {
  position: relative;
}

#hero .navigation {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
}

#hero .hero-img {
  position: absolute;
  width: 50%;
  bottom: 0px;
  right: 5rem;
}
