body {
  background-color: black;
  background-repeat: no-repeat;
  background-image: url(../image/fitness-main.jpg);
  background-size: contain;
  background-position: center -20em;
}

img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 0.5em;
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.section-top-bar {
  background-color: #d01919;
  color: #fff;
}

.section-top-bar .container,
.section-site-header .container {
  max-width: initial;
}

.section-top-bar .container {
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
}

.section-top-bar .socials {
  display: flex;
}

.section-top-bar .fa-solid {
  margin-right: 0.3em;
}

.section-top-bar .socials li,
.section-top-bar .socials a {
  display: block;
}

.section-top-bar .socials li {
  padding: 0 0.5em;
}

.section-top-bar .socials a span {
  display: none;
}

.section-top-bar a {
  color: #fff;
}

.section-site-header .container {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
}

.section-site-header .site-title {
  display: none;
}

.section-site-header {
  color: #fff;
}

.section-site-header a {
  color: #fff;
}

.section-features {
  background-color: #fff;
}

.section-coaches {
  background-color: #efefef;
}

.section-site-footer {
  background-color: #d01919;
  color: #fff;
}

.section-site-footer p {
  text-align: center;
  padding: 1em;
}
