section {
  position: absolute;
  left: 182px;
  top: 245px;
}

h3 {
    font-size: 16px;
    margin: 0px;
}

span {
    padding-left: 3px;
    color: gray;
    font-size: 14px;
}

div {
    position: relative;
    left: 58px;
    top: -47px;
}