/* COACH EXPERIENCE */

#coach-exp {
  padding: 40px;
  background-color: #f9f9f9;
  margin-bottom: 40px;
}

#coach-exp h2 {
  color: #007bff;
  font-size: 32px;
  margin-bottom: 20px;
  text-align: center;
}

.experience-list {
  width: 100%;
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}

.experience-list li {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  margin-bottom: 30px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
}

.experience-list li:last-child {
  border-bottom: none;
}

#coach-exp li.rozi-2024 .club-content a:not(:first-child) {
  display: block;
  margin-bottom: 2px;
  width: 100%;
}

.experience-list li h3 {
  margin: 0;
  font-size: 18px;
}

.experience-list li img {
  min-width: 100px;
  /* margin-right: 20px; */
  vertical-align: middle;
}

.experience-list li img.svishtov {
  max-width: 150px;
  margin-right: -6px;
}

.experience-list li img.rozi-logo {
  max-width: 100px;
  margin-right: 20px;
}

.experience-list li p {
  margin: 5px 0;
}

.experience-list h3 {
  color: #007bff;
  font-size: 20px;
  margin-top: 0;
}

.experience-list p {
  margin-bottom: 10px;
  line-height: 1.6;
}

/* Style the position details */
.experience-list p.position {
  color: #555;
  font-style: italic;
}

/* Style for the Facebook Icon */
.experience-list li a {
  margin-left: 10px;
  color: #3b5998; /* Facebook blue color */
  transition: color 0.3s ease-in-out;
}

.experience-list li a:hover {
  color: #2952a3; /* Darker shade of Facebook blue on hover */
  text-decoration: underline;
}

.rozi-2024 .recommendation {
  margin-right: 10px;
}

/* .experience-list li.rozi-2024 .club-content a{
  margin-bottom: 10px;
} */

/* Show More Button */
.show-more-btn {
  display: block;
  background-color: #007bff;
  color: white;
  /* border: 1px solid #007bff; */
  border: none;
  border-radius: 4px;
  padding: 10px 16px;
  font-size: 14px;
  cursor: pointer;
  /* margin: 12px auto; */
  /* margin-left: 300px; */
  margin-top: 12px;
}

.show-more-btn:hover {
  background-color: #228dff;
}

/* Hidden Content */
.hidden-content {
  display: none;
  padding: 20px;
  border: 1px solid #ccc;
  margin-top: 20px;
  text-align: center; /* Center align text content */
}

/* Video */
.hidden-content video {
  width: 50%; /* Adjust width as needed */
  margin: 0 auto; /* Center align the video */
  display: block; /* Ensure block level for margin: 0 auto; to work */
  margin-top: 10px;
}

/* Google Drive Link */
.hidden-content a {
  display: block;
  margin-top: 10px;
  color: #007bff;
  text-decoration: none;
}

.hidden-content a:hover {
  text-decoration: underline;
}

.hidden-content p a {
  display: inline-block;
  margin: 0;
}

hr {
  margin-bottom: 20px;
  margin-top: 10px;
}

.experience-list li .marek-media {
  display: flex;
  align-content: center;
  /* flex-wrap: nowrap; */
  justify-content: space-evenly;
  /* padding: 1.5em; */
}

.experience-list li .marek-media img.vertical-img {
  flex: 1 1 25%;
  margin-right: 20px;
}

.experience-list li .marek-media img.cup-img {
  flex: 1 1 65%;
  min-width: 110px;
  vertical-align: middle;
}

/* .experience-list li .marek-media img{
  max-width: 50%;
    margin: 0;
    vertical-align: middle;
} */

/* Style for the new images */
/* .experience-list li .hidden-content img {
  max-width: 100%;
  margin-top: 20px;
} */

/* .hidden-content p.marek-para{
  margin-top: 12px;
} */

/* Media query for responsiveness */
/* @media (min-width: 768px) {
  #coach-exp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .experience-list li {
    flex: 0 0 calc(50% - 20px);
    margin-right: 40px;
  }
} */

/* @media (max-width: 768px) {
  #coach-exp {
    padding: 20px;
  }

  .experience-list li {
    flex: 0 0 calc(50% - 20px);
    margin-right: 0;
  }

  .experience-list li img {
    max-width: 100px;
  }
}

@media (max-width: 576px) {
  .experience-list li {
    flex: 0 0 calc(100% - 20px);
  }

  .experience-list li img {
    max-width: 80px;
  }
}

@media (max-width: 400px) {
  .experience-list li img {
    max-width: 60px;
  }
} */

@media (min-width: 768px) {
  #coach-exp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .experience-list li {
    flex: 0 0 calc(50% - 20px);
    margin-right: 40px;
  }
}

@media (max-width: 1000px) {
  #coach-exp h2 {
    font-size: 28px;
  }

  #coach-exp .experience-list li a img {
    min-width: 75px;
    margin: 0;
  }

  #coach-exp p {
    font-size: 14px;
  }

  #coach-exp .club-content a {
    font-size: 14px;
  }
}

@media (max-width: 830px) {
  #coach-exp .club-content a {
    font-size: 14px;
  }

  #coach-exp .experience-list li a img.svishtov {
    min-width: 82px;
  }
}

@media (max-width: 576px) {
  #coach-exp h2 {
    font-size: 28px;
  }

  #coach-exp .experience-list li a img {
    min-width: 75px;
    margin: 0;
  }

  #coach-exp p {
    font-size: 14px;
  }

  #coach-exp .club-content a {
    font-size: 14px;
  }
}

@media (max-width: 370px) {
  #coach-exp {
    padding: 10px;
  }
}

@media (max-width: 450px) {
  #coach-exp h2 {
    font-size: 22px;
  }

  #coach-exp h3 {
    font-size: 16px;
  }

  #coach-exp img.club-logo {
    width: 50px;
  }

  #coach-exp p {
    font-size: 12px;
  }

  #coach-exp .club-content a {
    font-size: 12px;
  }

  #coach-exp li.rozi-2024 .club-content a {
    display: block;
    margin-bottom: 2px;
    width: 100%;
  }

  #coach-exp .experience-list li a {
    margin: 0;
  }

  #coach-exp .experience-list li a img {
    min-width: 55px;
    margin: 0;
  }

  .show-more-btn {
    padding: 8px 14px;
    font-size: 12px;
    margin-top: 0;
    margin-left: 85px;
  }
}
