header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

header h1 {
  margin-top: 2em;
}

/* Default styles for the navigation */
nav {
  background-color: #333;
  color: #fff;
  position: fixed;
  top: 0;
  right: 0; /* Position at the top right corner */
  z-index: 1000; /* Ensure it's above other content */
}

.nav-toggle {
  position: absolute;
  top: 10px; /* Adjust as needed */
  right: 10px; /* Adjust as needed */
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  color: #007bff;
}

/* CSS for responsive navigation */
.nav-menu {
  display: none;
}

.nav-menu.nav-menu_visible {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1em 8em;
}

.nav-toggle {
  display: inline-block;
}

.nav-toggle span {
  padding: 0.85em;
  font-size: 30px;
}

.nav-toggle span:hover {
  color: #007bff;
  cursor: pointer;
}

/* Fixed navigation for screens larger than 768px */
@media (min-width: 768px) {
  nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    background-color: #333;
    z-index: 1000;
  }

  nav .nav-toggle {
    display: none;
  }

  nav .nav-menu {
    padding: 20px 0px;
    /* margin: 0px 20px; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #fff;
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  nav ul li {
    /* display: inline; */
    margin-right: 30px;
  }

  nav ul li a {
    font-size: 18px;
    white-space: nowrap;
  }
}

@media (max-width: 1064px) {
  nav ul li a {
    font-size: 16px;
    white-space: nowrap;
  }
}

@media (max-width: 976px) {
  nav ul li a {
    font-size: 14px;
  }
}

/* @media (max-width: 900px){
  nav ul li a {
    font-size: 12px;
  }
} */

/* @media (min-width: 770px){
  .nav-menu.nav-menu_visible{
    padding: 1em 5em;
  }
} */

@media (max-width: 770px) {
  .nav-menu.nav-menu.nav-menu_visible {
    display: inline-block;
    padding: 1em 4em;
    /* margin: 0px 10px; */
  }
}

/* TODO!!! */
@media (max-width: 742px) {
  .nav-menu.nav-menu.nav-menu_visible {
    display: inline-block;
    padding: 1em 2em;
    padding-right: 4em;
  }
  .nav-menu.nav-menu.nav-menu_visible li {
    font-size: 10px;
  }

  .nav-toggle {
    position: absolute;
    top: 35px; /* Adjust as needed */
    right: 5px; /* Adjust as needed */
  }
}

@media (max-width: 430px) {
  .nav-menu.nav-menu.nav-menu_visible li {
    font-size: 8px;
  }
}

@media (max-width: 400px) {
  header h1 {
    font-size: 26px;
  }
}
