/* FOOTBALL PLAYER EXPERIENCE */

#player-exp {
  padding: 40px;
  background-color: #f9f9f9;
  margin-bottom: 40px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#player-exp h2 {
  color: #007bff;
  font-size: 32px;
  margin-bottom: 20px;
  text-align: center;
}

#player-exp .player-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#player-exp .player-links a:nth-child(1) {
  font-weight: bold;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
  background-color: #92c7ff;
  color: white;
  border-radius: 4px;
  padding: 12px 18px;
}

#player-exp .player-links a,
#player-exp .player-links img {
  display: inline-block;
}

#player-exp .player-links img {
  transition: filter 0.3s ease;
}
#player-exp .player-links img:hover {
  filter: brightness(80%);
}

#player-exp a.highlight-video:hover {
  text-decoration: underline;
  color: #2952a3;
}

#player-exp a.highlight-video i {
  margin-right: 5px;
  color: red;
}

/* #player-exp .player-links .transfermarkt-media{
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  background-color: none;
} */

#player-exp img.transfermarkt-logo {
  width: 110px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
}

#player-exp a.highlight-video i:hover {
  color: rgba(255, 0, 0, 0.797);
}

#player-exp .experience-list {
  width: 100%;
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#player-exp .experience-list li {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  margin-bottom: 30px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
  width: 100%;
}

#player-exp li.rozi-2024 .club-content a:not(:first-child) {
  display: block;
  margin-bottom: 2px;
  width: 100%;
}

#player-exp li.rozi-2024 .club-content .recommendation {
margin-bottom: 2px;
}

#player-exp .experience-list li:last-child {
  border-bottom: none;
}

#player-exp .experience-list li h3 {
  margin: 0;
  font-size: 18px;
}

#player-exp .experience-list li img {
  min-width: 100px;
  vertical-align: middle;
  transition: filter 0.3s ease;
}

#player-exp .experience-list li img:hover {
  filter: brightness(80%);
}

#player-exp .experience-list li img.svishtov {
  max-width: 150px;
  margin-right: -6px;
}

#player-exp .experience-list li img.rozi-logo,
#player-exp .experience-list li img.pirin-logo,
#player-exp .experience-list li img.vratsa-logo,
#player-exp .experience-list li img.pleven-logo,
#player-exp .experience-list li img.beroe-logo,
#player-exp .experience-list li img.ldg-logo {
  max-width: 100px;
  /* margin-right: 8px; */
}

#player-exp .experience-list li img.rozi-logo {
  margin-right: 0;
}

#player-exp .experience-list li p {
  margin: 5px 0;
}

#player-exp .experience-list h3 {
  color: #007bff;
  font-size: 20px;
  margin-top: 0;
}

#player-exp .experience-list p {
  margin-bottom: 10px;
  line-height: 1.6;
}

#player-exp .experience-list p.position {
  color: #555;
  font-style: italic;
}

#player-exp .experience-list li a {
  margin-left: 10px;
  color: #3b5998;
  transition: color 0.3s ease-in-out;
}

#player-exp .experience-list li a:hover {
  color: #2952a3;
  text-decoration: underline;
}

#player-exp .experience-list li a.show-more-btn {
  display: block;
  width: 100px;
  /* margin-left: 300px; */
  margin-top: 12px;
  background-color: #007bff;
  color: white;
  /* border: 1px solid #007bff; */
  border: none;
  border-radius: 4px;
  padding: 10px 16px;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
  text-wrap: nowrap;
}

#player-exp .experience-list li a.show-more-btn:hover {
  background-color: #228dff;
}

/* #player-exp .experience-list .hidden-content {
  display: none;
}

#player-exp .experience-list .show .hidden-content {
  display: block;
} */

/* .experience-list li.shabab .club-content{
    padding-bottom: 0;
} */

.experience-list li.mendig a img {
  width: 35px;
  margin-right: 15px;
}

/* Media query for responsiveness */

/* @media (min-width: 768px) {
  #player-exp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .experience-list li {
    flex: 0 0 calc(50% - 20px);
    margin-right: 40px;
  }
} */

@media (max-width: 1000px) {
  #player-exp h2 {
    font-size: 28px;
  }

  #player-exp .experience-list li a img {
    min-width: 75px;
    margin: 0;
  }

  #player-exp p {
    font-size: 14px;
  }

  #player-exp .club-content a {
    font-size: 14px;
  }
}

@media (max-width: 830px) {
  #player-exp .club-content a {
    font-size: 14px;
  }

  /* #player-exp .experience-list li a img.svishtov {
    min-width: 82px;
  } */
}

@media (max-width: 576px) {
  #player-exp h2 {
    font-size: 28px;
  }

  #player-exp .experience-list li a img.club-logo {
    min-width: 65px;
    margin: 0;
    margin-left: 4px;
  }

  #player-exp p {
    font-size: 14px;
  }

  #player-exp .club-content a {
    font-size: 14px;
  }
}

@media (max-width: 450px) {
  #player-exp h2 {
    font-size: 22px;
  }

  #player-exp h3 {
    font-size: 16px;
  }

  #player-exp img.club-logo {
    width: 50px;
  }

  #player-exp p {
    font-size: 12px;
  }

  #player-exp .club-content a {
    font-size: 12px;
  }

  #player-exp li.rozi-2024 .club-content a {
    display: block;
    margin-bottom: 2px;
    width: 100%;
  }

  #player-exp .experience-list li a {
    margin: 0;
  }

  #player-exp .experience-list li a img {
    min-width: 55px;
    margin: 0;
  }

  .show-more-btn {
    padding: 8px 14px;
    font-size: 12px;
    margin-top: 0;
    margin-left: 85px;
  }
}

@media (max-width: 360px) {
  #player-exp {
    padding: 10px;
  }

  #player-exp .experience-list li h3 {
    font-size: 16px;
  }

  #player-exp .player-links {
    width: 240px;
    gap: 14px;
  }

  #player-exp .player-links a.highlight-video {
    font-size: 12px;
    padding: 10px 14px;
    text-wrap: nowrap;
  }

  #player-exp .player-links a img.transfermarkt-logo {
    width: 100px;
  }
}
