@media (max-width: 330px) {
  header h1 {
    font-size: 22px;
  }

  #about {
    padding: 0;
    margin-bottom: 20px;
  }

  #coach-exp .show-more-btn,
  #player-exp a.show-more-btn {
    padding: 8px 14px;
    font-size: 12px;
    margin-top: 5px;
    margin-left: 65px;
    text-wrap: nowrap;
  }

  #player-exp .experience-list li a.show-more-btn {
    margin-left: 60px;
  }

  #coach-exp,
  #player-exp {
    padding: 10px;
  }

  #player-exp .player-links {
    width: 240px;
    gap: 14px;
  }

  #player-exp .player-links a.highlight-video {
    font-size: 12px;
    padding: 10px 14px;
    text-wrap: nowrap;
  }

  #player-exp .player-links a img.transfermarkt-logo {
    width: 100px;
  }

  #contact h2 {
    font-size: 26px;
  }

  footer p {
    font-size: 14px;
  }
}

@media (max-width: 432px) {
  #coach-exp .experience-list li .show-more-btn {
    padding: 8px 14px;
    font-size: 12px;
    margin-top: 5px;
    margin-left: 75px;
    text-wrap: nowrap;
  }

  #player-exp .player-links a:nth-child(1) {
    font-size: 12px;
    padding: 10px 14px;
    text-wrap: nowrap;
  }
}
