/* Add styles for social media icons */
.social-icons {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.social-icons li {
  margin: 0 10px;
}

.social-icons a {
  color: #333;
  text-decoration: none;
  font-size: 24px;
}

.social-icons a:hover {
  color: #007bff;
}

/* Specific hover styles for Instagram */
.social-icons a[href*="instagram"]:hover {
  color: #e4405f; /* Instagram logo color */
}

/* Specific hover styles for YouTube */
.social-icons a[href*="youtu.be"]:hover {
  color: red; /* Red color */
}

/* Specific hover styles for Email */
.social-icons a[href*="mailto"]:hover {
  color: #d14836; /* Gmail red color */
}

/* Specific hover styles for Phone */
.social-icons a[href*="tel"]:hover {
  color: green; /* Green color */
}
