@media screen and (min-width: 640px) {
  /* HERO */
  #hero .form,
  #ready-to-watch .form {
    flex-direction: row;
    gap: 0;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    overflow: hidden;
  }

  #hero .form .btn,
  #ready-to-watch .form .btn {
    width: 180px;
    flex-shrink: 0;
    border-radius: 0px;
  }

  #hero .form input,
  #ready-to-watch .form input {
    border-radius: 0px;
  }

  /* FOOTER */
  .footer-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 768px) {
  /* SECTIONS */
  .content-section {
    padding: 4rem 2rem;
    text-align: left;
  }

  .content-section .wrapper {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    align-items: center;
  }

  .content-section .content {
    margin-bottom: 0;
  }

  .content-section:nth-of-type(odd) .content {
    order: 2;
  }

  /* HERO */
  #hero .wrapper,
  #ready-to-watch .wrapper {
    max-width: 760px;
  }

  #hero .title {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }

  #hero .subtitle,
  #ready-to-watch .subtitle {
    font-size: 1.5rem;
  }

  #hero .subtitle,
  #hero .form,
  #hero .desc,
  #ready-to-watch .subtitle,
  #ready-to-watch .form {
    margin-bottom: 1.5rem;
  }

  #hero .form,
  #ready-to-watch .form {
    max-width: 100%;
  }

  /* FOOTER */
  .footer {
    padding-left: 6rem;
    padding-right: 6rem;
  }
  .footer-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1440px) {
  /* HERO */
  #hero .title {
    font-size: 3rem;
  }

  #hero .subtitle,
  #ready-to-watch .subtitle {
    font-size: 2rem;
  }

  #hero .subtitle,
  #hero .form,
  #hero .desc,
  #ready-to-watch .subtitle,
  #ready-to-watch.form {
    margin-bottom: 2rem;
  }

  /* QUESTIONS */
  #questions {
    padding: 1.5rem 20rem;
  }

  #questions .title {
    font-size: 2rem;
  }

  #questions .questions-list {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 1600px) {
  html {
    font-size: 20px;
  }

  #hero .form .btn,
  #ready-to-watch .form .btn {
    padding: 0.8rem 0.9rem;
  }
}
