* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(238, 238, 238);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  text-align: center;
}


/* ----------------
  LAYOUT MASONRY
-------------------*/
.cards-layout.masonry {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  margin: 1em auto;
  max-width: 40em;
}

.column-one,
.column-two,
.column-three {
  display: flex;
  flex-direction: column;
  width: 30%;
  gap: 1em;
}

.masonry .card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: white;
  border-radius: 0.3em;
  border: 2px solid #ccc;
  box-shadow: 0 0 1em 0.2em rgba(0, 0, 0, 0.2);
}

.masonry .card img {
  display: block;
  width: 100%;
  height: auto;
}

.masonry .card section,
.masonry .card footer {
  padding: 1em 1.2em;
}

.masonry .card section {
  flex: 1 0 auto;
}

.masonry .card footer {
  border-top: 2px solid #ccc;
}


/* -------------
  LAYOUT FLEX
---------------*/
.cards-layout.flex {
  margin: 2em auto;
  max-width: 40em;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.flex .card {
  flex: 0 0 200px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: white;
  border-radius: 0.3em;
  border: 2px solid #ccc;
  box-shadow: 0 0 1em 0.2em rgba(0, 0, 0, 0.2);
}

.flex .card img {
  display: block;
  width: 100%;
  height: auto;
}

.flex .card section,
.flex .card footer {
  padding: 1em 1.2em;
}

.flex .card section {
  flex: 1 0 auto;
}

.flex .card footer {
  border-top: 2px solid #ccc;
}
