@media (width <= 600px) {
    
  /* Navigation */
  .home-navbar1 {
    display: none;
  }

  /* Home-Cards */
  .category-card-category-card {
    flex: 1 1 45%;
  }

  .category-card-image {
    width: 100%;
    height: 190px;
  }

  /* Bookstore section */

}
