:root {
  --gray-light: #efefef;
  --gray-dark: #909090;
  --gray-black: #222222;
}

.page-section {
  background-color: var(--gray-light);
  max-width: 1880px;
  margin: 1.5rem 4rem;
  height: calc(100vh - 24px);
  padding: 3rem 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.page-section .section-info {
  flex: 0 0 40%;
}

.page-section .section-img {
  flex: 0 1 35%;
}

.page-section .title {
  font-size: 3rem;
  font-weight: lighter;
  margin-bottom: 2rem;
}

.page-section .desc {
  font-style: italic;
  margin-bottom: 2rem;
  line-height: 1.3;
}

.page-section .divider.vertical {
  height: 6rem;
  width: 1px;
  background-color: var(--gray-black);
}

.page-section .title-container {
  display: flex;
  align-items: center;
}

.page-section .title {
  font-size: 3rem;
  font-weight: lighter;
  margin-bottom: 0.5rem;
}

.page-section .divider.horizontal {
  height: 1px; /* Adjusted height */
  width: 4rem; /* Set to 100% width */
  background-color: var(--gray-black);
  margin: 0 1rem; /* Adjusted margin */
  margin-left: 0;
}
